@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container-{
    /* color:green */
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.subcontent{
    margin-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgimage{
    height: 400px;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin:20px;
    border: 2px solid#000;
    border-radius: 20px;
    
}

.bgimage1{
    background-image: url('../../Assets/gym.jpg');
}

.bgimage2{
    background-image: url('../../Assets/dance.jpg');
}

.bgimage3{
    background-image: url('../../Assets/yoga.jpg');
}

.bgimage4{
    background-image: url('../../Assets/cycling.jpg');
}

.bgimage5{
    background-image: url('../../Assets/swimming.jpg');
}

.description{
    width: 50vw;
    margin: 40px;
    line-height: 2.0;
}

.slot{
    display: flex;
    justify-content: space-around;
}

button{
    min-height: 40px;
    min-width: 120px;
    border-radius: 30px;
    padding: 12px;
    background-color: #59A5D8;
    color:#fff;
    font-weight: 600;
    font-size: 16px;
    margin-inline: 20px;
    cursor: pointer;
}


@media(max-width:600px){

    .subcontent{
        display: flex;
        flex-direction: column;
    }

    .bgimage{
        max-height: 200px;
        width: 70%;
    }

    .description{
        width: 80vw;
        line-height: 1.4;
    }

    .slot{
        flex-direction: column;
    }

    button{
        margin: 20px;
    }
}